.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(199, 199, 199);
  z-index: 100;

}

.left-section {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
  cursor: pointer;
}

.youtube-logo {
  height: 20px;
  cursor: pointer;
}

.middle-section {
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 700px;
  align-items: center;
  display: flex;
}
.search-bar {
  flex: 1;
  height: 38px;
  padding-left: 14px;
  font-size: 16px;
  border: 1px solid #c0c0c0;
  border-radius: 0px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  width: 0;
  padding-top: 0;
  padding-bottom: 0;
  border-top-left-radius: 19px;
  border-bottom-left-radius: 19px;
}

.search-bar::placeholder {
  font-size: 16px;
}

.search-button {
  height: 39.4px;
  width: 66px;
  background-color: rgb(240, 240, 240);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  margin-left: -1px;
  margin-right: 10px;
  border-top-right-radius: 19px;
  border-bottom-right-radius: 19px;
}

.search-button:hover {
  opacity: 0.7;
}

.search-button:active {
  opacity: 1;
}

.tooltip {
  font-size: 12px;
  position: absolute;
  background-color: rgb(181, 181, 181);
  color: white;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 2px;
  bottom: -34px;
  justify-content: center;
  opacity: 0;
  transition: 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-icon-container:hover .tooltip,
.notifications-icon-container:hover .tooltip {
  opacity: 1;
}

.search-icon {
  height: 24px;
}

.voice-search-button {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border-width: 0.8px;
  border-style: none;
  border-color: rgb(228, 228, 228);
  text-align: center;
  cursor: pointer;
}

.search-button,
.voice-search-button,
.upload-icon-container,
.youtube-apps-icon-container,
.notifications-icon-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.voice-search-icon {
  height: 26px;
}

.right-section {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 24px;
  flex-shrink: 0;
}

.upload-icon,
.youtube-apps-icon,
.notifications-icon{
  height: 28px;
  cursor: pointer;
}

.notifications-icon {
  display: flex;
}
.notifications-icon-container {
  position: relative;
}

.notifications-count {
  font-size: 11px;
  position: absolute;
  top: -2px;
  right: -5px;
  color: white;
  background-color: red;
  
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;

  border-radius: 10px;
  pointer-events: none;  
}

.profile-picture-icon {
  height: 32px;
  border-radius: 16px;
  cursor: pointer;
}






